/* Importa la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald&display=swap');

* {box-sizing: border-box}
/* Aplica la fuente en todo el documento */
body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: large;
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina padding */
  background-color: #ffffff;
  color: black; /* Color de texto predeterminado */

}

/* Estilo de la portada */
.portada {
    background-color: rgba(0, 0, 0); /* Fondo semitransparente */
    color: white;
    position: fixed; /* Fijo en la ventana */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alinear a la izquierda */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Texto en la portada */
.texto {
    background-color: rgba(84, 86, 100, 0.7);
    color: white;
    margin-top: 17px;
    padding: 1.5vw 1.5vw; /* Ajusta el padding para que el recuadro sea más pequeño */
    margin-left: 2vw; /* Deja un espacio libre a la izquierda */
    width: 80%; /* El recuadro se ajusta al contenido */
    font-size: 1.1em;
    text-align: left;
    
}

/* Aumentar solo el tamaño del texto en h1 */
.texto h1 {
    font-size: 3em; /* Ajusta el tamaño según tus necesidades */
}

/* Imagen de fondo de la portada */
.fondoimagen {
    background-image: url('images/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 60px;
    padding: 3vh 2vw;
    z-index: 0; /* Coloca debajo del `div` superior */
    text-align: center; /* Centra el texto en pantallas pequeñas */
}

.imgresp img{
    height: auto;
    width: 100%;
}

/* Estilo del icono de menú */
.menu-icon {
    position: absolute;
    left: 10px;
    background-size: cover;
    cursor: pointer;
    z-index: 10; /* Asegura que esté encima de otros elementos */
}

/* Menú en la parte superior */
.menu {
    color: white;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw;
    margin-top: 0px;
    flex-wrap: wrap; /* Acomoda en múltiples filas si es necesario */
}

/* Ajuste de espacio para el texto "Menu" */
.menu h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5px; /* Ajusta la distancia entre el texto "Menu" y los botones */
}

/* Estilo para las secciones de contenido */
.cuerpo {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    padding: 4vw;
    margin: 2vh 2vw;
    border-radius: 8px; /* Bordes redondeados */
    transition: color 0.5s ease;
}

/* Estilos del botón toggle */
label {
    position: fixed; /* Fijo para que sea accesible siempre */
    width: 8vw;
    margin-top: 2px;
    height: 8vw;
    max-width: 125px; /* Ancho máximo fijo */
    max-height: 40px; /* Altura máxima fija */
    display: block;
    background: url('images/images1.gif');
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(198, 247, 253, 0.3);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    right: 2vw;
}

label::after {
    content: '';
    position: absolute;
    height: 30px; /* Tamaño relativo al contenedor */
    width: 30px;
    background: #f2f2f2;
    border-radius: 50%;
    top: 17%; /* Centrado relativo */
    left: 5%;
    transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1.0);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

label::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border: 3px solid rgba(198, 247, 253, 0.3);
    border-radius: 50%;
    top: 17%;
    left: 5%;
    transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1.0);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Fondo de color de la página */
.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #9ad6f7;
    z-index: -1;
    transition: all 0.5s ease;
}

/* Alterna el modo oscuro del botón */
input:checked ~ label::after {
    left: 80%;
    transform: translateX(-100%) scale(1.2); /* Escala para enfatizar el movimiento */
    background: #777ba5;
}

input:checked ~ label::before {
    left: 80%;
    border: 3px solid rgba(90, 79, 136, 0.2);
    transform: translateX(-100%) scale(1.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
}

input:checked ~ label {
    background: url('images/images2.gif');
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(90, 79, 136, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

input:checked ~ .background {
    background: #041533;
}

input {
    display: none;
}

/* Botones de menú */
.btn {
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", Regular;
    font-size: 0.4em; /* Ajuste en función del contenedor */
    width: 15vw;
    height: 15vw;
    max-width: 90px; /* Tamaño máximo para pantallas grandes */
    max-height: 90px;
    border-radius: 50%;
    border: 0;
    color: transparent;
    background: #9C1898;
    transition: all 0.3s ease;
    box-shadow: #630857 0px 10px 0px 0px;
    cursor: pointer;
    padding-top: 3vh;
    margin: 1vh; /* Espaciado ajustable */
}

.btn:hover {
    color: white;
    box-shadow: #630857 0px 8px 0px 0px;
}

.btn:active {
    background-color: #9C1898;
    box-shadow: #630857 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.btn-image {
    transition: opacity 0.3s;
    width: 8vw; /* Tamaño adaptable */
    height: 8vw;
    max-width: 60px;
    max-height: 60px;
}

.btn:hover .btn-image {
    display: none;
}

/* Media queries para ajustes específicos en pantallas pequeñas */
@media (max-width: 768px) {
    .texto {
        font-size: 1em;
        padding: 5vw;
    }

    .cuerpo {
        font-size: 1em;
        padding: 5vw;
    }

    label {
        width: 12vw;
        height: 6vw;
    }

    .menu {
        flex-direction: column;
    }
}

/* Estilo para el menú vertical */
.menu-vertical {
    position: fixed; /* Mantiene el menú en la pantalla */
    left: 0; /* Colocarlo a la izquierda */
    top: 80px; /* Desde la parte superior */
    width: 60px; /* Ancho del menú */
    height: 100%;
    padding-top: 30px;
    align-items: center;
    transition: width 0.3s ease;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: none; /* Para alinear los botones */
    flex-direction: column; /* Para que los botones se apilen verticalmente */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    padding: 10px 0; /* Espaciado superior e inferior */
}

.menu-vertical.active {
    display: block; /* Mostrar cuando está activo */
}

.icon .active {
    display: none; /* Mostrar cuando está activo */
}

.btn-image7 {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: 30px;
    z-index: 1; /* Asegura que los iconos estén encima del círculo */
}
/* Iconos del menú */
.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0; /* Separación vertical entre íconos */
    position: relative; /* Para el rectángulo de descripción */
    transition: transform 0.2s; /* Transición suave para la animación */
}

.icon img {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.tooltip{
    display: none;
    position: absolute;
    left: 70px;
    top: 10px;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
}

.icon:hover .tooltip {
    display: block;
}

.circle {
    position: absolute;
    left: -10px; /* Círculo justo a la derecha del icono */
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    top: 50%;
    transition: background-color 0.3s ease;
    background: linear-gradient(20deg, #2337F0,#3C1B88,#600E5E, #9C1898);
    border-radius: 50%; /* Hace el círculo */
    display: none; /* Ocultar por defecto */
}

.icon:hover .circle {
    display: block; /* Mostrar círculo al pasar el mouse */
}

.toggle-menu {
    display: block; /* Mostrar el icono por defecto */
    background: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el puntero al pasar el mouse */
}

.menu-vertical.active + .toggle-menu {
    display: none; /* Ocultar el icono cuando el menú está abierto */
}

/* Estilo para los botones del menú */
.btn2 {
    border: none; /* Sin borde */
    background: none; /* Sin fondo */
    cursor: pointer; /* Cambia el puntero al pasar el mouse */
    padding: 5px; /* Espaciado interno */
}

/* Cambiar el cursor al pasar sobre los botones */
.btn2:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo al pasar el mouse */
}

.cuerpo {
    margin-left: 60px; /* Espacio para el menú */
    padding: 20px; /* Espaciado interno */
}


.problematica h3 {
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4px;
}


.problem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.problem ul {
    padding-left: 20px;
}

.problem p, .problem ul li {
    font-size: 1rem;
    color: #333;
}

.problem p strong {
    color: #333;
    font-weight: bold;
}

.problem ul li {
    margin-bottom: 8px;
}

.problem ul {
    list-style-type: disc;
}

.tabdet {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f100;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tabdet button {
  display: block;
  background-color: inherit;
  color: rgb(255, 255, 255);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabdet button:hover {
  background-color: #640eb4;
}

/* Create an active/current "tab button" class */
.tabdet button.active {
  background-color: #44077e;
}

/* Style the tab content */
.tabcontentdet {
  text-align: justify;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/*AQUI EMPIEZA LA SEGUNDA*/
/* Style the tab */
.tabsas {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f100;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tabsas button {
  display: block;
  background-color: inherit;
  color: rgb(255, 255, 255);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabsas button:hover {
  background-color: #640eb4;
}

/* Create an active/current "tab button" class */
.tabsas button.active {
  background-color: #44077e;
}

/* Style the tab content */
.tabcontentsas {
  text-align: justify;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/* Modificar la altura de las tablas */
.tabcontentdet, .tabcontentsas {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: auto; /* Cambiar a auto para que la altura se ajuste al contenido */
  min-height: 400px; /* Establecer una altura mínima */
}

/*PARA GALERIA1*/
.gallery-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gallery-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
/*FLECHA*/
.contenedorF {
  display: inline-block;
  position: relative;
}
.flechaF {
  position: absolute;
  top: -10px; /* Ajusta esta distancia para colocar la flecha justo encima */
  left: 0;
  font-size: 0.8em; /* Tamaño de la flecha */
}
.letraF {
  font-size: 1em; /* Tamaño de la letra principal */
}

.highlight {
            background-color: rgba(0, 247, 255, 0.418); /* Cambia el color de fondo para resaltar */
            padding: 0.2em; /* Espaciado interno */
            border-radius: 4px; /* Bordes redondeados */
        }
        
#INCC p {
    font-weight: normal;
}
#INCC li {
    font-weight: normal;
}
#INCAsas p {
    font-weight: normal;
}
#INCAsas li {
    font-weight: normal;
}

#INCBsas p {
    font-weight: normal;
}
#INCBsas li {
    font-weight: normal;
}

.graf {
    display: block; /* Hacer que el botón sea un bloque */
    margin: 20px auto; /* Centrarlos horizontalmente y agregar margen vertical */
    background-color:rgb(98, 10, 150); /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Relleno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor a mano */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Efecto de transición */
}

/* Efecto al pasar el mouse por encima */
.graf:hover {
    background-color: rgb(71, 8, 107); /* Color de fondo más oscuro */
}
